<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Cinema</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/static/css/commons.css}" />


    <link rel="shortcut icon" th:href="@{/static/images/favicon.jpg}" />
</head>
<body>
<header>
    <h1 class="text-center pt-3 pb-3 mb-5 text-white" style="background-color: chocolate">
        <a href="/show-times" style="color: white !important;">
            Cinema
        </a>
    </h1>
</header>
<section layout:fragment="content">
    <p>Page content goes here</p>
</section>
</body>
<script th:src="@{/static/js/commons.js}"></script>
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</html>