<html layout:decorate="~{layouts/master.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://java.sun.com/xml/ns/persistence/orm">
<section layout:fragment="content">
    <div class="container">
        <div class="row mb-4">
            <form class="form-inline" action="/exchange-gift" method="get">
                <div class="form-group">
                    <input type="number" class="form-control" name="card_id" placeholder="Nhập mã thẻ thành viên" th:value="${param.card_id}">
                </div>
                <button type="submit" class="btn btn-outline-primary ml-3">Tìm kiếm</button>
            </form>
        </div>

        <div class="row">
            <table th:if="${memberCard}" class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên thành viên</th>
                    <th>Số điểm</th>
                    <th>Hành động</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>[[${memberCard.id}]]</td>
                    <td th:if="${memberCard.getCustomer()}">[[${memberCard.getCustomer().getName()}]]</td>
                    <td th:unless="${memberCard.getCustomer()}"></td>
                    <td>[[${memberCard.point}]]</td>
                    <td>
                        <a th:href="@{'/exchange-gift/' + ${memberCard.id}}" class="btn btn-outline-success">Đổi quà</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <p class="text-danger" th:unless="${memberCard}">Không tìm thấy thẻ thành viên</p>
        </div>
    </div>
</section>
</html>