<html layout:decorate="~{layouts/master.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://java.sun.com/xml/ns/persistence/orm">
<section layout:fragment="content">
    <div class="container">
        <div class="row">
            <table th:if="${giftBill.orderGifts.size() > 0}" class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên món quà</th>
                    <th>Số lượng</th>
                    <th>Số điểm</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="orderGift : ${giftBill.orderGifts}">
                    <th scope="row">[[${orderGift.gift.id}]]</th>
                    <td th:if="${orderGift.gift.ticket}">[[${orderGift.gift?.ticket?.showtime?.film?.name}]]</td>
                    <td th:if="${orderGift.gift.food}">[[${orderGift.gift?.food.name}]]</td>
                    <td>[[${orderGift.quantity}]]</td>
                    <td>[[${orderGift.point}]]</td>
                </tr>
                </tbody>
            </table>
            <div>
                <p class="text-warning">Số điểm còn lại sau khi đổi quà: [[${giftBill.membershipCard.point}]]</p>
            </div>
            <div class="clearfix"></div>
            <div class="text-center" style="width: 100%;">
                <form action="/bill-gift" method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-outline-success">Xác nhận đổi quà</button>
                </form>
            </div>
        </div>
    </div>
</section>
</html>