<html layout:decorate="~{layouts/master.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://java.sun.com/xml/ns/persistence/orm">
<section layout:fragment="content">
    <div class="container">
        <div class="row">
            <table th:if="${gift}" class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên món quà</th>
                    <th>Số điểm</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">[[${gift.id}]]</th>
                    <td th:if="${gift.ticket}">[[${gift.ticket?.showtime?.film?.name}]]</td>
                    <td th:if="${gift.food}">[[${gift.food.name}]]</td>
                    <td>[[${gift.point}]]</td>
                </tr>
                </tbody>
            </table>
            <div>
                <p class="text-warning">Số điểm còn lại sau khi đổi quà: [[${point}]]</p>
            </div>
            <div class="clearfix"></div>
            <div class="text-center" style="width: 100%;">
                <form action="/bill-gift" method="post" style="display: inline-block">
                    <input type="hidden" name="gift_id" th:value="${gift.id}">
                    <input type="hidden" name="card_id" th:value="${memberCard.id}">
                    <button type="submit" class="btn btn-outline-success">Xác nhận đổi quà</button>
                </form>
            </div>
        </div>
    </div>
</section>
</html>