<html layout:decorate="~{layouts/master.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://java.sun.com/xml/ns/persistence/orm">
<section layout:fragment="content">
    <div class="container">
        <div class="row">
            <table th:if="${giftBill.gift}" class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên món quà</th>
                    <th>Số điểm</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">[[${giftBill.gift.id}]]</th>
                    <td th:if="${giftBill.gift.ticket}">[[${giftBill.gift?.ticket?.showtime?.film?.name}]]</td>
                    <td th:if="${giftBill.gift.food}">[[${giftBill.gift?.food.name}]]</td>
                    <td>[[${giftBill.gift?.point}]]</td>
                </tr>
                </tbody>
            </table>
            <div>
                <p class="text-warning">Số điểm còn lại sau khi đổi quà: [[${giftBill.membershipCard.point - giftBill.gift.point}]]</p>
            </div>
            <div class="clearfix"></div>
            <div class="text-center" style="width: 100%;">
                <form action="/bill-gift" method="post" style="display: inline-block" th:object="${giftBill}">
                    <input type="hidden" th:field="${giftBill.membershipCard}">
                    <input type="hidden" th:field="${giftBill.gift}">
                    <button type="submit" class="btn btn-outline-success">Xác nhận đổi quà</button>
                </form>
            </div>
        </div>
    </div>
</section>
</html>