<html layout:decorate="~{layouts/master.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://java.sun.com/xml/ns/persistence/orm">
<section layout:fragment="content">
    <div class="container">
        <div class="row mb-4">
            <form class="form-inline" th:action="@{'/exchange-gift/' + ${memberCard.id}}" method="get">
                <div class="form-group">
                    <input type="text" class="form-control" name="gift_search" placeholder="Nhập tên món quà" th:value="${param.gift_search}">
                </div>
                <button type="submit" class="btn btn-outline-primary ml-3">Tìm kiếm</button>
            </form>
        </div>

        <div class="row">
            <table th:if="${gifts}" class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên món quà</th>
                    <th>Số điểm</th>
                    <th>Số lượng</th>
                    <th>Hành động</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="gift : ${gifts}">
                    <form style="width: 100%" th:action="@{'/exchange-gift/' + ${memberCard.id} + '/' + ${gift.id}}" method="get" th:object="${order}">
                        <th scope="row">[[${gift.id}]]</th>
                        <td th:if="${gift.ticket}">[[${gift.ticket?.showtime?.film?.name}]]</td>
                        <td th:if="${gift.food}">[[${gift.food.name}]]</td>
                        <td>[[${gift.point}]]</td>
                        <td>
                            <button type="button" class="btn-decrease-quantity" th:attr="data-gift-id=${gift.id}">-</button>
                            <input readonly type="number" th:id="'quantity-' + ${gift.id}" style="width: 30px" th:field="${order.quantity}">
                            <button type="button" class="btn-increase-quantity" th:attr="data-gift-id=${gift.id}">+</button>
                        </td>
                        <td>
                            <button class="btn btn-outline-success btn-select-gift" th:attr="data-gift-id=${gift.id}" type="submit">Chọn quà</button>
                        </td>
                    </form>
                </tr>
                </tbody>
            </table>
            <p class="text-danger" th:if="${gifts.size() == 0}">Không tìm thấy món quà nào</p>
        </div>
    </div>
</section>
</html>