<html layout:decorate="~{layouts/master.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<section layout:fragment="content">
    <div class="container">
        <form action="/show-times/store"  method="post">
            <div class="form-row mt-30">
                <div class="form-group form-material col-md-12 pr-30">
                    <label>Chọn Phim <span class="required text-danger">*</span></label>
                    <select name="film_id" class="form-control form-control-lg" id="film">
                        <option>Chọn phim</option>
                        <option th:each="item : ${film}" th:value="${item.id}">[[${item.name}]]</option>
                    </select>
                </div>
                <div class="form-group form-material col-md-12 pr-30">
                    <label>Chọn thời gian và giá <span class="required text-danger">*</span></label>
                    <select name="time_price_id" class="form-control form-control-lg" id="time-price">
                        <option>Chọn thời gian và giá</option>
                        <option th:each="item : ${timePrice}" th:value="${item.id}">[[${item.time}]]-[[${item.price}]]</option>
                    </select>
                </div>
                <div class="form-group form-material col-md-12 pr-30">
                    <label>Chọn phòng chiếu <span class="required text-danger">*</span></label>
                    <select name="room_id" class="form-control form-control-lg" id="room">
                        <option>Chọn phòng chiếu</option>
                    </select>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Thêm lịch chiếu</button>
            </div>
        </form>
    </div>
</section>
</html>
<script>
    $( document ).ready(function() {
        $('#time-price').change(function(){
            console.log($(this).val());
            $("#room").empty().append('<option>Chọn phòng chiếu</option>')
            $.ajax({
                url: "/rooms",
                method: "GET",
                data: {
                    time_price_id:  $(this).val(),
                }
            }).done(function(res) {
                console.log(res)
                for (var i in res) {
                    var obj = res[i];
                    $("#room").append("<option value=\"" + obj.id + "\">" + obj.roomNumber + "</option>");
                }
            });
        })
    });
</script>