<html layout:decorate="~{layouts/master.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://java.sun.com/xml/ns/persistence/orm">
<section layout:fragment="content">
    <div class="container">
        <div class="m-auto">
            <div class="">
                <h2 class="text-center">Tạo lịch chiếu thành công!</h2>
            </div>
            <div class="banner text-center">
                <a href="/show-times/create" class="btn btn-outline-primary">Thêm Lịch chiếu</a>
                <a href="/show-times" class="btn btn-outline-success">Về trang chủ </a>
            </div>
        </div>
    </div>
</section>
</html>